.App-header {
  margin: 0;
  background-image: url('https://images.pexels.com/photos/1170184/pexels-photo-1170184.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-body {
  font-family: 'Roboto', sans-serif;
  width: 60%;
  margin:0;
  color: #582C83;
  background-color: white;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact a {
  margin: 1rem;
  font-size: 40px;
  color: #582C83;
}

.location {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
